.footer {
    grid-area: e;
    margin-top: 80px;
    padding: 20px;
    background-color: wheat;
}
.footer a {
    color: blueviolet;
    text-decoration: none;
}
.footer a:hover {
    color: orange;
}
.footer li {
    margin-left: 100px;
    margin-top: px;
}
.Icons {
    list-style-type: none;
}
.Icons_WhatsApp li {
    
    list-style-image: url(./../img/icons8-whatsapp-24.png);
}
.Icons_Mail li {
    
    list-style-image: url(./../img/mail.png);
}
.Icons_Instagram li {
    
    list-style-image: url(./../img/instagram-new--v1.png);
}

@media screen and (max-width: 425px) {
    .footer {
        font-size: 22px;
    }
    .footer li {
        margin-left: auto;
    }
}

@media screen and (min-width: 2560px) {
    .footer {
        margin-top: 10%;
    }
    
}