.nav {
    grid-area: n;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
    margin-top: 80px;
    color: black;
    transition: all 0.2s;
    margin-left: 200px;
    margin-right: 200px;
}
.nav:hover {
    box-shadow: 20px 10px 35px gray;
}

.nav img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nav h1 {
    text-align: center;

}

.nav p {
    text-align: center;
}
.image {
    width: 100px;
    background-image: url(./../img/icons8-person-100.jpg);
}

/* ADAPTIVE */
@media screen and (max-width: 425px) {
    .nav {
        
        margin-left: auto;
        margin-right: auto;
    }
}