@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


.app-wrapper {

  margin: 0 250px;
  display: grid;
  grid-template-areas:
    "h h"
    "n n"
    "c c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
  font-family: 'Montserrat', sans-serif;
  
}

.header {
  text-align: right;
  grid-area: h;
  background-color: blue;

}
.header img {
  width: 50px;
}
.header h1 {
  font-size: 18px; 
  color: white;
  margin-right: 20px;
  
}
.header h1 a {
  padding: 5px;
}
.header h1 a:hover {
  color: rgba(241, 241, 241, 0.801);
}
