@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body {
  background-color: wheat;
}
.app-wrapper {
  margin: 0 250px;
  display: grid;
  grid-template-areas:
    "h h h"
    "n n n"
    "c d f"
    "e e e";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5x;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 15px;
  grid-area: h;
  background-color: rgb(0, 0, 0);
  
}
.header img {
  

}
.header h1 {
  font-size: 18px; 
  color: white;
  margin-right: 20px;
  text-align: right;
  
}
.header h1 a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
.header h1 a:hover {
  color: rgb(131, 131, 131);
}



